body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
}

.image-box {
  width: 400px;
  height: 250px;

  /* IMAGE RÉELLE */
  background-image: url("image01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: 1px solid #444;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
